name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: install packages
      run: sudo apt-get install libgtest-dev
    - name: cmake gtest
      run: sudo cmake /usr/src/gtest/CMakeLists.txt && sudo make -C /usr/src/gtest && sudo cp /usr/src/gtest/*.a /usr/lib
    - name: gtest postbuild
      run: ls
    - name: configure 
      run: mkdir build && cd build && cmake ..
    - name: build
      run: cmake --build build
    - name: test
      run: cd build && ctest
